*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Raleway;
    src: url('./assets/Raleway/Raleway-VariableFont_wght.ttf');
}
body{
    overflow: hidden;
}
.wrapper{
    height: 100vh;
    width: 95%;
    margin: 0 auto;
    font-family: 'Raleway';
    .logo{
        margin: 2.5rem 0 !important;
    }
    p{
        font-family: 'Raleway';
        font-size: 20px;
        line-height: 23px;
        color: #000000;
    }
    .content{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        height: 70vh;
        max-height: 600px;
        .title-container{
            align-self: start;
            height: 70vh;
            max-height: 600px;
            .privacy{
                margin-bottom: 2rem;
            }
            .item{
                margin-left: 2rem;
                height: 60vh;
                max-height:600px;
                overflow-y:scroll;
                position: relative;
                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                }
                -ms-overflow-style: none; /* IE 11 */
                scrollbar-width: none; /* Firefox 64 */
                .scroll{
                    position:fixed;
                    left: 1.5rem;
                    height: 60vh;
                    max-height:600px;
                    width: 3px;
                    border: 1px solid #BCBCBC;
                    background: #BCBCBC;
                    border-radius: 4px;
                    .scroll-bar{
                        width: 5px;
                        height: 63.3px;
                        background: #000000;
                        border-radius: 2.5px;
                        position: absolute;
                        top:0px;
                        left: 50%;
                        margin-left: -2.5px;
                    }
                }
                h1{
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: normal;
                    text-align: left;
                    margin-bottom: 1.5rem;
                    cursor: pointer;
                    &:nth-child(2){
                        font-weight: bold;
                    }
                }
            }
        }
        .paragraph-container{
            margin-left: 2rem;
            height: 70vh;
            max-height: 600px;
            overflow-y:scroll;
            &::-webkit-scrollbar {
                display: none;
                width: 0;
            }
            -ms-overflow-style: none; /* IE 11 */
            scrollbar-width: none; /* Firefox 64 */
            .paragraph{
                display: none;
                height: 70vh;
                max-height:600px;
                overflow-y:scroll;
                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                }
                -ms-overflow-style: none; /* IE 11 */
                scrollbar-width: none; /* Firefox 64 */                
                h1{
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 42px;
                    margin-bottom: 2rem;
                }
                p{
                    margin-bottom: 1.5rem;
                }
                
            }
            #title0{
                display: block;
            }
        }
    }
}